<div class="header">
    <div class="logo">
        <img src="/assets/signal-assets-main/logo.png" alt="logo">
    </div>
    <div class="container">
        <div class="navbar">
            <ul>
                <li>Get Signal</li>
                <li>Help</li>
                <li>Blog</li>
                <li>Developers</li>
                <li>Careers</li>
                <li>Donate</li>
                <li class="icon">
                    <img src="/assets/signal-assets-main/twitter.svg" alt="icone twitter">
                </li>
                <li class="icon">
                    <img src="/assets/signal-assets-main/instagram.svg" alt="icone insta">
                </li>
                <li class="icon">
                    <img src="/assets/signal-assets-main/solid_globe.svg" alt="icone globe">
                    Français
                </li>
            </ul>
        </div>
    </div>
</div>
