.header {
    display: flex;
    justify-content: space-around;
    left: 0;
    border-bottom: 1px solid #ebeaeb;
    position: fixed;
    right: 0;
    z-index: 30;
    padding: 16px 0;
    background-color: white;
}

.logo > img {
  height: 50px;
}

.container {
  display: flex;
  align-items: center;
}

.navbar > ul {
  list-style: none;
}

.navbar > ul > li {
  display: inline;
  justify-content: flex-end;
  padding: .5rem .75rem;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.icon > img {
  height: 20px;
  width: 20px;
}

