.box {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box>img {
    width: 370px;
    padding-top:20px;
}
.box>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-bottom:20px;
}