<section class="hero-main">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="col-40">
                    <h1>Exprimez-vous librement</h1>
                    <p>Dites « Bonjour » à une expérience de messagerie différente. Un accent inattendu sur la confidentialité et la protection des données personnelles, combiné à toutes les fonctions auxquelles vous vous attendez.</p>
                    <app-button [buttonStyle]="'btn-white'" buttonText="Obtenir Signal"></app-button>
                </div>
                <div class="col-60" test="testing">
                    <img src="/assets/signal-assets-main/signal-iphone.png" alt="phone1">
                    <img src="/assets/signal-assets-main/signal-pixel.png" alt="phone2">
                </div>
            </div>
        </div>
    </div>
</section>
