.hero-main {
    background-color: #9DBBF8;
    color: #1b1b1b;
    padding-top: 100px;
    max-height: 680px;
    margin-bottom: 2rem;
}

.hero-body {
    padding: 3rem 1.5rem;
}

.container {
    margin: 0 auto;
    position: relative;
    width: auto;
    max-width: 1344px;
}

.columns {
    display: flex;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-60 > img {
    margin-left: 0px;
    margin-top: 46px;
    width: 320px;
    transform: rotate(22.5deg);

}
.col-60 > img:last-child {
    margin-left: -32px;
    margin-top: 0px;
    position: absolute;
    top: 0px;
    width: 300px;
}