body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
  
p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 64px;
    margin-top: 120px;
    margin-bottom: 24px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    margin-bottom: 16px;
}

h3 {
    color: #1b1b1b;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    margin-top: 18px;
    margin-bottom: 4px;
}