<app-hero-section></app-hero-section>
<section class="information">
    <div class="title-container">
        <h2>Pourquoi utiliser Signal ?</h2>
        <p>Explorez ci-dessous afin de découvrir pourquoi Signal est une messagerie simple, puissante et sécurisée</p>
    </div>
    <div class="column-container">
        <div class="columns">
            <div class="col-33">
                <h2>Partager sans insécurité</h2>
                <p>Un chiffrement de bout en bout de pointe (propulsé par le protocole Signal à code source ouvert) assure la sécurité de vos conversations. Nous ne pouvons ni lire vos messages ni écouter vos appels, et personne d’autre que vous ne peut le faire. La confidentialité n’est pas proposée en option, c’est simplement la façon dont Signal fonctionne. Pour tous les messages, pour tous les appels, tout le temps.</p>
            </div>
            <div class="col-66">
                <div class="img-container">
                    <img src="/assets/signal-assets-main/animation.png" alt="animation">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features">
    <div class="grid-container">
        <div class="feature-grid">
            <app-feature-box
                boxImage="/assets/signal-assets-main/Media.png"
                boxTitle="Dites ce qui vous plaît"
                boxContent="Partagez gratuitement des textes, des messages vocaux, des photos, des vidéos et des GIF. Signal utilise la connexion de données de votre téléphone afin de vous éviter les frais relatifs à l’envoi de texto et de message multimédia.">
            </app-feature-box>
            <app-feature-box
                boxImage="/assets/signal-assets-main/Calls.png"
                boxTitle="Exprimez-vous librement"
                boxContent="Passez des appels vocaux ou vidéo clairs avec des personnes qui vivent à l’autre bout de la ville ou du monde, sans frais supplémentaires">
            </app-feature-box>
            <app-feature-box
                boxImage="/assets/signal-assets-main/Stickers.png"
                boxTitle="Respectez votre vie privée"
                boxContent="Avec nos stickers chiffrés, exprimez-vous encore plus librement. Vous êtes même libre de créer et de partager vos propres packs de stickers.">
            </app-feature-box>
            <app-feature-box
                boxImage="/assets/signal-assets-main/Groups.png"
                boxTitle="Rassemblez-vous avec les groupes"
                boxContent="Avec les conversations de groupe, restez facilement en contact avec votre famille, vos amis et vos collègues.">
            </app-feature-box>
        </div>
    </div>
</section>
<section class="information bottom">
    <div class="column-container">
        <div class="columns start">
            <div class="col-33">
                <h2>Aucune publicité, aucun traqueur, vraiment.</h2>
                <p>Dans Signal, il n’y a aucune publicité, aucun vendeur partenaire, ni aucun système de suivi inquiétant. Vous pouvez vous consacrer à partager les moments importants avec les personnes qui comptent pour vous.</p>
            </div>
            <div class="col-66">
                <div class="img-container">
                    <img src="/assets/signal-assets-main/No-Ads.png" alt="phone1">
                </div>
            </div>
        </div>
    </div>
    <div class="column-container">
            <div class="columns end">
            <div class="col-66">
                <div class="img-container">
                    <img src="/assets/signal-assets-main/Nonprofit503.png" alt="phone1">
                </div>
            </div>
            <div class="col-33">
                <h2>Gratuit pour tous</h2>
                <p>Signal est un organisme à but non lucratif indépendant. Nous ne sommes reliés à aucune entreprise technologique importante et nous ne pourrons jamais être achetés par l’une d’elles. Le développement de notre plateforme est financé par des subventions et des dons de personnes comme vous.</p>
                <app-button [buttonStyle]="'btn'" buttonText="Faire un don à Signal"></app-button>
            </div>
        </div>
    </div>
</section>