
/* Top infos */
.information, .column-container {
    padding: 3rem 1.5rem;
}

.information .title-container h2, 
.information .title-container p {
    text-align: center;
}

.information > .column-container {
    display: flex;
    justify-content: center;
}

.columns {
    display: flex;
    justify-content: space-between;
    max-width: 1344px;
}

.columns > .col-33 {
    width: 33.3333%;
}

.columns > .col-33 > h2, p {
    text-align: start;
}

.columns > .col-66 > .img-container > img {
    width: 680px;
    border-radius: 16px;    
}

/* Bottom infos */

.columns.start {
    justify-content: start;
}
.columns.end {
    justify-content: end;
}
.columns.start > .col-66 > .img-container > img,
.columns.end > .col-66 > .img-container > img  {
   margin: 20px;  
}

.bottom > .column-container{
    padding: 0;
}

/* Features */
.features {
background-color: #F6F6F6;
display: flex;
justify-content: center;
}

.grid-container {
    max-width: 1344px;
    padding: 50px 0;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 25px;
}
