.footer {
    background-color: #3C3744;
    color: #E9E9E9;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.footer > .container > .columns {
    display: flex;
    justify-content: center;
}

.col-40 {
    width: 30%;
    padding-right: 50px;;
}

.col-40 p {
    color: #E9E9E9;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.col-15 {
    width: 15%;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    color: #E9E9E9;
    text-decoration: none;
}