<section class="footer">
    <div class="container">
        <div class="columns">
            <div class="col-40">
                <p>© 2013–2024 Signal, a 501c3 nonprofit.
                    Signal is a registered trademark in the United States and other countries.
                </p>
                <p>   
                    For media inquiries, contact press&#64;signal.org
                </p>
            </div>
            <div class="col-15">
                <strong>Organization</strong>
                <ul>
                    <li *ngFor="let link of organizationLinks">
                        <a href="{{link.url}}">{{ link.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-15">
                <strong>Download</strong>
                <ul>
                    <li *ngFor="let link of downloadLinks">
                        <a href="{{link.url}}">{{ link.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-15">
                <strong>Social</strong>
                <ul>
                    <li *ngFor="let link of socialLinks">
                        <a href="{{link.url}}">{{ link.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-15">
                <strong>Help</strong>
                <ul>
                    <li *ngFor="let link of helpLinks">
                        <a href="{{link.url}}">{{ link.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>